body {
    font: 100%/1.5 system-ui;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
}

form {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
}